<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>One-word Search</title>
    <meta charset="utf-8">	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="https://static.jianshukeji.com/hcode/images/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <!-- Bootstrap core CSS -->
    <link href="static/css/style.css" rel="stylesheet"/>
    <link href="static/css/jquery.jsonview.css" rel="stylesheet"/>
    <link href="static/css/cytoscape.js-panzoom.css" rel="stylesheet" type="text/css" />
    <link href="static/css-panzoom/font-awesome.css" rel="stylesheet" type="text/css" />

        <!-- JS -->
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/cytoscape.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/holder.min.js"></script>
    <script src="static/js/jquery.cookie.min.js"></script>
    <script src="static/js/jquery-confirm.min.js"></script>
    <script src="static/js/jquery.jsonview.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="static/js/cytoscape-panzoom.js"></script>
    <script src="static/js/canvasjs.min.js"></script>
    <script src="static/js/chart.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/sankey.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/themes/grid-light.js"></script>
    <script>
        var d1 = new Array();
        d1 = {{ data1|safe }};
        var d2 = new Array();
        d2 = {{ data2|safe }};
        // 可以从这里传实时数据！
        {#var d21 = new Array();#}
        {#d21 = {{ sun_data|safe }};#}
        var d22 = new Array();
        d22 = {{ chord_data|safe }};
    </script>
</head>


<body>
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <input name="name_title" type="text" class="form-control" placeholder="Type one or two entity names">
        <button type="submit" class="button">search</button>
    </form>
    <br>
    <table width="1200px">
        <tr>
            <td>
                <div id="graph" style="height:450px;width:900px"></div>

{#        <tr>#}
{#            <td>#}
{#                <div style="text-align:left">#}
{#                    <p style="font-size: 15px; font-style: italic" >Searching for: <b>{{ entity }}</b>. It has <b>{{ numberNN }}</b> neighbor nodes. The graph summarized <b>{{ numberShow }}</b> neighbors. Here is a chord chart show neighbor types around  <b>{{entity}}</b>.</p>#}
{#                </div>#}
{#                            <div id="chartContainer21" style="height: 200px; max-width: 500px; margin: auto">#}
{#                                <script src="https://code.highcharts.com.cn/highcharts/modules/dependency-wheel.js"></script>#}
{#                                <script src="static/js/search_sun_chart.js"></script>#}
{#                            </div>#}

{#                #######################Search Chord Chart#}
{#                            <div id="chartContainer22" style="height: 400px; max-width: 500px; margin: auto">#}
{#                                <script src="https://code.highcharts.com.cn/highcharts/modules/dependency-wheel.js"></script>#}
{#                                <script src="static/js/search_chord_chart.js"></script>#}
{#                            </div>#}
{#                #######################Search Chord Chart#}
{#                    </tr>#}
{#                </table>#}
{#            </td>#}
{#            <td>#}
                <script src = "static/js/jquery.min.js" > </script>
                <script src = "static/js/jquery.jsonview.js" > </script>
                <script>
                    $(function () {
                        $.get('{{entity}}/graph', function (result) {  //在现在的URL后加'entityname/graph' 现在调用的网址是search/entityname/graph
                            var graph = window.graph =cytoscape({
                                container: document.getElementById('graph'),
                                ready: function(){},
                                style: cytoscape.stylesheet()
                                    .selector('node[label = "Event"]').css({'background-color': '#EF8E19', "text-outline-color":'#EF8E19', 'content': 'data(name)', "text-valign" : "center",
                                        'width': 80, 'height': 80, 'font-size':18,'color': 'white',"text-wrap": "wrap", "text-max-width": 10,'text-outline-width': 2})//节点样式
                                    .selector('node[label = "Organisation"]').css({'background-color': '#60418F', "text-outline-color":'#60418F', 'content': 'data(name)', "text-valign" : "center",
                                        'width': 80, 'height': 80, 'font-size':18,'color': 'white',"text-wrap": "wrap", "text-max-width": 10,'text-outline-width': 2}) //节点样式
                                    .selector('node[label = "Others"]').css({'background-color': '#58C1DA', "text-outline-color":'#58C1DA', 'content': 'data(name)', "text-valign" : "center",
                                        'width': 80, 'height': 80, 'font-size':18,'color': 'white',"text-wrap": "wrap", "text-max-width": 10,'text-outline-width': 2})//节点样式
                                    .selector('node[label = "Person"]').css({'background-color': '#ED561B', "text-outline-color":'#EE2C34', 'content': 'data(name)', "text-valign" : "center", //节点样式
                                        'width': 80, 'height': 80, 'font-size':18,'color': 'white',"text-wrap": "wrap", "text-max-width": 10,'text-outline-width': 2})
                                    .selector('node[label = "Place"]').css({'background-color': '#43C565', "text-outline-color":'#43C565', 'content': 'data(name)', "text-valign" : "center",
                                        'width': 80, 'height': 80, 'font-size':18,'color': 'white',"text-wrap": "wrap", "text-max-width": 10,'text-outline-width': 2})//节点样式
                                    .selector('node[label = "Species"]').css({'background-color': '#179587', "text-outline-color":'#179587', 'content': 'data(name)', "text-valign" : "center",
                                        'width': 80, 'height': 80, 'font-size':18,'color': 'white',"text-wrap": "wrap", "text-max-width": 10,'text-outline-width': 2})//节点样式
                                    .selector('node[label = "TimePeriod"]').css({'background-color': '#7697DE', "text-outline-color":'#7697DE', 'content': 'data(name)', "text-valign" : "center",
                                        'width': 80, 'height': 80, 'font-size':18,'color': 'white',"text-wrap": "wrap", "text-max-width": 10,'text-outline-width': 2})//节点样式
                                    .selector('node[label = "Work"]').css({'background-color': '#B362A5', "text-outline-color":'#B362A5', 'content': 'data(name)', "text-valign" : "center",
                                        'width': 80, 'height': 80, 'font-size':18,'color': 'white',"text-wrap": "wrap", "text-max-width": 10,'text-outline-width': 2})//节点样式
                                    .selector('edge').css({
                                        'font-size':14,
                                        'curve-style': 'bezier',
                                        //'target-arrow-shape': 'circle',
                                        'line-color': '#adadad',
                                        'target-arrow-color': '#adadad',
                                        'content': 'data(relationship)',
                                        'width': 2,
                                        'edge-text-rotation': 'autorotate',
                                    }) //边线样式
                                    .selector(':selected').css({
                                        'background-color': '#000000',
                                        'line-color': '#000000',
                                        'target-arrow-color': '#000000',
                                        'source-arrow-color': '#000000',
                                        "text-outline-color":'#000000',
                                        'opacity': 1
                                    })
                                    .selector('.faded').css({'opacity': 0.25, 'text-opacity': 0}),
                                layout: {name: 'cose', fit: true},
                                elements: result.elements,
                                zoom: 1,
                                pan: {x: 0, y: 0}
                            });

                            graph.nodes().forEach(function (n) {
                                debugger
                                n.on('click', function (e) {
                                    let json = e.target.data()
                                    console.log(json)
                                    $("#jsonview").JSONView(json);
                                    document.getElementById("jsonview").innerHTML = document.getElementById("jsonview").innerHTML.replace(/{/, "").replace(/}/, "")
                                    // with options
                                    $("#json-collasped").JSONView(json, {collapsed: true});
                                });
                            })

                            graph.edges().forEach(function (n) {
                                debugger
                                n.on('click', function (e) {
                                    let json = e.target.data()
                                    console.log(json)
                                    $("#jsonview").JSONView(json);
                                    document.getElementById("jsonview").innerHTML = document.getElementById("jsonview").innerHTML.replace(/{/, "").replace(/}/, "")
                                    // with options
                                    $("#json-collasped").JSONView(json, {collapsed: true});
                                });
                            })

                            graph.panzoom({
					            // options here...
                            });
                        }, 'json');
                    });
                </script>
            </td>
            <td>
                </div>
                <div id="graph">
                 <div style="overflow-x: auto; overflow-y: auto; height: 450px; width:300px;">
{#                    <p style="font-size:20px;" align="center">Detailed Information</p>#}
                    <div id="jsonview" style="height:450px;width:300px;align-content: center"></div>
                </div>
                </div>
{#                <br>#}
            </td>
        </tr>
    </table>

</body>
</html>